@import url('https://fonts.googleapis.com/css2?family=Jaini+Purva&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Jaini Purva', sans-serif;
  background-color: #fae9e5; /* Light yellow background */
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100vh;
}

.header {
  background-color: #FA8072; /* Tomato red background */
  width: 100%;
  padding: 20px 0; /* Increase padding */
  text-align: center;
  z-index: 10;
  font-family: 'Jaini Purva', sans-serif;
}

.header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.header nav ul li {
  margin: 0 30px; /* Increase margin */
}

.header nav ul li a {
  color: #fae9e5; /* Light yellow text */
  text-decoration: none;
  font-size: 24px; /* Increase font size */
}

.top-rectangle {
  background-color: #FA8072; /* Tomato red background */
  width: 100%;
  height: 50%;
  position: absolute;
  top: 0;
  z-index: 1;
}

.bottom-rectangle {
  background-color: #fae9e5; /* Light yellow background */
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.outer-border {
  border: 8px solid #fae9e5; /* Light yellow border */
  border-radius: 28px; /* Rounded corners */
  z-index: 2;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%; /* Adjust width */
  max-width: 1400px; /* Set maximum width */
}

.center-container {
  background-color: #FA8072; /* Tomato red background */
  border: 4px solid #000; /* Black border */
  border-radius: 20px; /* Rounded corners */
  padding: 114px; /* Increase padding */
  margin: -4px; /* Remove space between borders */
  font-family: 'Jaini Purva', sans-serif;
}

.center-container h1 {
  font-size: 12vw; /* Adjust font size */
  margin: 0;
  color: #fae9e5; /* Light yellow text */
  line-height: 1.2; /* Adjust line height for better spacing */
}
